@font-face {
  font-family: "Leckerli-regular";
  src: url("/assets/fonts/Leckerli-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-regular";
  src: url("/assets/fonts/Poppins-regular.ttf") format("truetype");
}
