* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Leckerli-regular";
  src: url("../../assets/fonts/Leckerli-Regular.ttf");
}

@font-face {
  font-family: "Poppins-regular";
  src: url("../../assets/fonts/Poppins-regular.ttf");
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%; /* Assure que le corps prend toute la largeur */
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

body {
  background-color: black;
}

h1 {
  font-size: 60px;
  font-family: "Leckerli-regular";
  color: rgb(212, 143, 81);
}

h2 {
  margin: 10px 0;
  color: rgb(238, 198, 19); /* texte doré */
  font-size: 40px;
  font-family: "Poppins-regular", sans-serif;
}

h3 {
  margin: 10px 0;
  color: rgb(238, 198, 19); /* texte doré */
  font-size: 40px;
  font-family: "Leckerli-regular";
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.logo img {
  max-width: 100%;
  height: auto;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.logo {
  animation: slideDown 1s ease-out forwards; /* Applique l'animation */
  position: relative; /* Nécessaire pour le positionnement */
  margin-top: 0.5rem;
}
