.snack {
  width: 100%; /* Assure que la section snack prend toute la largeur */
  overflow: hidden; /* Évite le débordement */
}

/* Container des snacks */
.snack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

/* Carte d’un panini */
.snack-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #1c1c1c; /* gris très foncé pour contraster avec le noir */
  border: 2px solid rgb(238, 198, 19); /* contour doré */
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(255, 215, 0, 0.2);
}

.snack-card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 250px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 0 10px 15px 10px;
  color: #ddd;
}

.price {
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins-regular", sans-serif;
  color: rgb(238, 198, 19);
}

.description {
  font-size: 22px;
  font-family: "Leckerli-regular";
  color: rgb(212, 143, 81);
}

.allergene {
  text-align: center;
  margin: 20px auto;
  color: rgb(212, 143, 81);
  font-family: "Poppins", sans-serif;
}

.hidden {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #1c1c1c;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  max-width: 90%;
}

.modal-content img {
  width: 100%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: rgb(238, 198, 19);
  font-size: 24px;
  cursor: pointer;
}
